<h1>Search Results</h1>
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :poke_name, "Pokemon Name:" %>
  <%= form.text_field :poke_name %>
  <%= form.submit "Search" %>
<% end %>

<div>
  <%= tag.h2 @pokemon['name'] %>
  <%= @pokemon['id'] %>
  <div>
    <%= image_tag @pokemon['sprites']['front_default'] %>
  </div>
  <%= form_with url: "/catch" do |form| %>
    <%= form.hidden_field :external_id, value: @pokemon['id'] %>
    <%= form.hidden_field :poke_name, value: @pokemon['name'] %>
    <%= form.hidden_field :sprite_url, value: @pokemon['sprites']['front_default'] %>
    <%= form.submit "Catch" %>
  <% end %>
</div>
